<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /SewaBarangYuk/
    
    # Jika file atau direktori tidak ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect ke index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>

# Melindungi file .htaccess
<Files .htaccess>
    order allow,deny
    deny from all
</Files>

# Melindungi direktori includes dan config
<FilesMatch "^(config|includes)">
    order allow,deny
    deny from all
</FilesMatch>

# Tetapkan index.php sebagai default
DirectoryIndex index.php